.partition-layout__drawing-area {
  width: 100%;
  height: 100%;
}

.partition-layout__arrow {
  fill: #ffffff;
  fill-opacity: .6;
}

.d3-partition-node__rect {
  fill: #ffffff;
}

.d3-partition-node--internal {
  fill-opacity: .2;
  cursor: pointer;
}

.d3-partition-node--leaf {
  fill-opacity: .4;
}

.d3-partition-node__rect {
  fill: #ff0000;
  rx: 5;
  ry: 5;
}

.d3-partition-node__html {
  font-size: 13px;
  list-style-type: none;
  overflow: hidden;
}

.d3-partition-node--active {
  fill-opacity: .29;
}

.d3-partition-node--dropable {
  fill-opacity: .39;
}